.slideshow-container {
  width: 100%;
  overflow-x: hidden;
  * {
    display: block;
    width: 100%;
  }
  & > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: translateX(0);
    transition: transform 0.7s ease-out;
  }
}
